@model IEnumerable<DisasterPOEApp.Models.User>

@{
    ViewBag.Title = "Index";
}

<div class="container mt-4">
    <h2 class="mb-4">LOGIN/SIGNUP</h2>

    <div class="mb-3">
        <a class="btn btn-primary" href="@Url.Action("Create")">Create New</a>
        <a class="btn btn-secondary" href="@Url.Action("Login")">Log in</a>
    </div>

    
</div>