@model DisasterApp.Models.MoneyDonation

@{
    ViewBag.Title = "Total Donations";
}

<h2>Total Donations</h2>

<p>The total amount donated by all users is: <div>Total Donations: @ViewBag.TotalDonations</div></p>

