@{
    ViewBag.Title = "About";
}
<h2 style="color:azure">@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p style="color:azure">
    The foundation’s mission is to provide practical aid during disasters. They
    receive donations from various sources and need a system to track what is available and what has
    been dispatched to help with which disaster.
    Donations can be made by individuals, companies, other organisations, and even governments.
    Donations can be goods (clothes, non‐perishable foods, etc.) or monetary. Donors can choose to
    remain anonymous.

    <br><br>
    The Disaster Alleviation Foundation has transparency as one of its core values.

</p>
